.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  color: black;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-gray);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid var(--color-gold);
  
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.1);
  border-color: var(--color-gold);
  box-shadow: 
  var(--shadow-dark-100) var(--color-dark-shadow),
  var(--shadow-light-100) var(--color-light-shadow);
}

