.conteiner {
     display: flex;
     margin-top: 12px;
     margin-left: auto;
}
.toggle, .toggle:before, .slot__label, .curtain {
	transition-duration: 0.25s;
	transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
}
.toggle:before, .slot, .slot__label {
	display: block;
}
.toggle:before, .curtain {
	position: absolute;
}
.toggle:focus {
	outline: transparent;
}
.toggle {
	border-radius: 0.75em;
	box-shadow: 0 0 0 0.1em inset;
	cursor: pointer;
	position: relative;
	margin-right: 8px;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.toggle:before {
	background: var(--color-white);
	border-radius: 50%;
	content: "";
	top: 0.2em;
	left: 0.2em;
	width: 1.1em;
	height: 1.1em;
}
.toggle:checked:before {
	transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
	transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
	transform: translateY(-100%) scaleY(1);
}
.slot {
     padding-top: 2px;
     border: 2px solid transparent;
     border-radius: var(--border-radius-small);
     color: var(--color-white);
     text-align: center;
     font-family: var(--font-family-main);
     text-decoration: none;
     font-weight: var(--font-bold);
     text-shadow: var(--text-shadow-yellow);
     transition: var(--transition);
}
.slot__label {
	transform-origin: 50% 0;
}
.slot__label:nth-child(2) {
	transform-origin: 50% 100%;
}
.toggle:checked, .curtain {
	background-color: #050050;
}
.curtain {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: 0 50%;
	z-index: -1;
}