@tailwind base;
@tailwind components;
@tailwind utilities;


/***************************************************
VARIABLES
/***************************************************/
:root {
/* COLORS */

/* Color stiles */
--color-gold:         rgba(238, 191, 0, 1);
--color-light-blue:   rgba(241, 245, 249, 1);
--color-gray:         rgba(54, 54, 54, 0.25);
--color-gray-dark:    rgba(235, 236, 240, 1);

/* Color linear gradient */
--gradient-color-gold:rgba(255,212,34,0.1);
--gradient-color-blue:rgba(184,204,224,0.1);

/* color shadow */
--color-dark-shadow: rgba(54, 54, 54, 0.25);
--color-light-shadow: rgba(255, 255, 255, 1);
--color-shadow:rgba(201, 217, 232, 1);

/* bg-color*/
--color-knob-light-blue:rgba(241, 245, 249, 1);
--color-knob-elevation:rgba(241, 245, 249, 1);
--shadow: 0px 4px 4px 0px;

--shadow-border-light: -1px -1px 0px;
--shadow-border-dark: -2px -2px 2px;

--shadow-dark-100: 2.5px 2.5px 5px;
--shadow-light-100: -2.5px -2.5px 5px;

--shadow-dark-200: 5px 5px 10px;
--shadow-light-200: -5px -5px 10px;

--shadow-dark-300: 10px 10px 20px;
--shadow-light-300: -10px -10px 20px;

--shadow-dark-400: 15px 15px 30px;
--shadow-light-400: -15px -15px 30px;

}

/***************************************************
SHADOWS
/***************************************************/

.inner-shadow {
  box-shadow: inset var(--shadow) var(--color-dark-shadow);
}

.drop-shadow {
  box-shadow: var(--shadow) var(--color-dark-shadow);
}

.shadow-inner-100 {
  box-shadow: 
  inset var(--shadow-light-100) var(--color-light-shadow),
  inset var(--shadow-dark-100)  var(--color-dark-shadow);
}

.shadow-drop-300 {
  box-shadow: 
    var(--shadow-dark-300) var(--color-dark-shadow),
    var(--shadow-light-300) var(--color-light-shadow);
}

.shadow-drop-400 {
  box-shadow: 
  var(--shadow-dark-400) var(--color-dark-shadow),
  var(--shadow-light-400) var(--color-light-shadow);
}

.shadow-border {
  box-shadow: 
    inset var(--shadow-border-light) var(--color-light-shadow),
    inset var(--shadow-border-dark) var(--color-shadow),
    var(--shadow-border-light) var(--color-light-shadow),
    var(--shadow-border-dark)  var(--color-shadow);
}
.shadow-card {
box-shadow: 
rgba(0, 0, 0, 0.4) 0px 2px 4px, 
rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/***************************************************
BG
/***************************************************/

.bg-knob-base {
  background: var(--color-knob-light-blue)
}
.bg-header {
  background: linear-gradient(90deg, var(--gradient-color-blue) 0%, var(--gradient-color-gold) 100%);
}

/***************************************************/


