@tailwind base;
@tailwind components;
@tailwind utilities;


/***************************************************
VARIABLES
/***************************************************/
:root {
/* COLORS */

/* Color stiles */
--color-gold:         rgba(238, 191, 0, 1);
--color-light-blue:   rgba(241, 245, 249, 1);
--color-gray:         rgba(54, 54, 54, 0.25);
--color-gray-dark:    rgba(235, 236, 240, 1);

/* Color linear gradient */
--gradient-color-gold:rgba(255,212,34,0.1);
--gradient-color-blue:rgba(184,204,224,0.1);

/* color shadow */
--color-dark-shadow: rgba(54, 54, 54, 0.25);
--color-light-shadow: rgba(255, 255, 255, 1);
--color-shadow:rgba(201, 217, 232, 1);

/* bg-color*/
--color-knob-light-blue:rgba(241, 245, 249, 1);
--color-knob-elevation:rgba(241, 245, 249, 1);
--shadow: 0px 4px 4px 0px;

--shadow-border-light: -1px -1px 0px;
--shadow-border-dark: -2px -2px 2px;

--shadow-dark-100: 2.5px 2.5px 5px;
--shadow-light-100: -2.5px -2.5px 5px;

--shadow-dark-200: 5px 5px 10px;
--shadow-light-200: -5px -5px 10px;

--shadow-dark-300: 10px 10px 20px;
--shadow-light-300: -10px -10px 20px;

--shadow-dark-400: 15px 15px 30px;
--shadow-light-400: -15px -15px 30px;

}

/***************************************************
SHADOWS
/***************************************************/

.inner-shadow {
  box-shadow: inset var(--shadow) var(--color-dark-shadow);
}

.drop-shadow {
  box-shadow: var(--shadow) var(--color-dark-shadow);
}

.shadow-inner-100 {
  box-shadow: 
  inset var(--shadow-light-100) var(--color-light-shadow),
  inset var(--shadow-dark-100)  var(--color-dark-shadow);
}

.shadow-drop-300 {
  box-shadow: 
    var(--shadow-dark-300) var(--color-dark-shadow),
    var(--shadow-light-300) var(--color-light-shadow);
}

.shadow-drop-400 {
  box-shadow: 
  var(--shadow-dark-400) var(--color-dark-shadow),
  var(--shadow-light-400) var(--color-light-shadow);
}

.shadow-border {
  box-shadow: 
    inset var(--shadow-border-light) var(--color-light-shadow),
    inset var(--shadow-border-dark) var(--color-shadow),
    var(--shadow-border-light) var(--color-light-shadow),
    var(--shadow-border-dark)  var(--color-shadow);
}


/***************************************************
BG
/***************************************************/

.bg-knob-base {
  background: var(--color-knob-light-blue)
}
.bg-header {
  background: linear-gradient(90deg, var(--gradient-color-blue) 0%, var(--gradient-color-gold) 100%);
}


.active {
  background-color: #ae72c2;
}
.pending {
  background-color: #cccc46;
}




/***************************************************
VARIABLES
/***************************************************/


:root {
    --color-white:       #fff;
    --color-black:       #000;
    --color-yellow:      #ffff00;
    --color-blue-light:  #e1e9eb;
    /* --color-dark-gray:   #10100e; */

    --color-blue:        #6a83fb;
    --color-violet:      #ae72c2;
    --color-red:         #f75d83;

    --spacing-ultrasmall: 5px;
    --spacing-small:      10px;
    --spacing-medium:     20px;
    --spacing-large:      30px;

    --font-size-main:      16px;
    --font-size-subheader: 18px;
    --font-size-header:    26px;

    --margin-list: 7px;
    --width-max: 1200px;
    --font-bold: 600;
    --transition: .4s;
    --font-family-main: sans-serif;

    --border-radius-small: 3px;
    --border-radius-medium: 5px;

    --text-shadow-yellow:
        0 0 5px var(--color-white),
        0 0 40px var(--color-yellow);

    --text-shadow-blue:
        0 0 2px var(--color-white),
        0 0 40px var(--color-blue);

    --box-shadow-white:
        0 16px 24px 2px rgba(255, 255, 255, 0.02),
        0 6px 30px 5px rgba(255, 255, 255, 0.04),
        0 8px 10px -5px rgba(255, 255, 255, 0.1);

    --box-shadow-black:
        0 16px 24px 2px rgba(0, 0, 0, 0.5),
        0 6px 30px 5px rgba(0, 0, 0, 0.1),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);


    --theme-default-bgimage: var(--theme-bgimage);
    --theme-default-header: var(--theme-header);

}

/* THEMES */
html[data-theme='dark']{
    --theme-header:#ca6c6f;
    /* --theme-bgimage:linear-gradient(to right bottom, #000000, #160b11, #20141e, #281b2e, #2b2440); */
    --theme-logo: url(../src/components/Header/img/space-station.svg);
}

html[data-theme='light']{
    --theme-header:#dfe2df;
    /* --theme-bgimage: linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f); */
    --theme-logo: url(../src/components/Header/img/lightsaber.svg);
}

html[data-theme='han-solo']{
    --theme-header: #cccc46;
    --theme-bgimage: url(../src/static/bg.jpg);
    --theme-logo:url(../src/components/Header/img/droid.svg);
}

/***************************************************
GENERAL
/***************************************************/
*, *:after, *:before {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    background-color: var(--color-dark-gray);
    background-image: var(--theme-default-bgimage);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}
img {
    display: block;
}
.header__text {
    line-height: 1.7;
    font-size: var(--font-size-header);
    text-shadow: 0 0 2px var(--color-black);
    color: var(--theme-default-header);
    transition: color var(--transition);
}
.logo {
    background: var(--theme-logo);
    width: 60px;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    margin-right: var(--spacing-large);
    object-position: center center;
}



/***************************************************
COLOR THEME
/***************************************************/


.item__light {
    text-shadow: 0 0 5px currentColor;
    color: var(--color-light);
}
.item__dark {
    text-shadow: 0 0 5px currentColor;
    color: var(--color-dark);
}
.item__neitral {
    text-shadow: 0 0 5px currentColor;
    color: var(--color-neitral);
}

.item__light:hover {
    box-shadow: 0 0 7px 2px var(--color-shadow-light);
}
.item__dark:hover {
    box-shadow: 0 0 7px 2px var(--color-shadow-dark);
}
.item__neitral:hover {
    box-shadow: 0 0 7px 2px var(--color-shadow-neitral);
}

.item {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 450px;
    margin-right: var(--spacing-medium);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-black);
    transition: var(--transition);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .item {
        width: 200px;
        height: 350px;
    }
}
@media screen and (max-width: 750px) {
    .item {
        height: 300px;
        margin: var(--spacing-small);
    }
}

/***************************************************
SCROLL
/***************************************************/
/* Firefox */
* {
    scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, .7);
    scrollbar-width: thin;
}

/* Chrome */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(37, 56, 97);
    border-radius: 2px;
    transition: var(--transition);
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .7);
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .7);
}

/***************************************************
FlexHoverSlider
/***************************************************/

.flex-container {
  height: 550px;
  width: 500px;
  display: flex;
  overflow: hidden;
}

/* @media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
} */

.flex-title {
  color: #f1f1f1;
  position: relative;
  font-size: 22px;
  margin: auto;
  text-align: center;
  transform: rotate(90deg);
  top: 30%;
  transition: all 500ms ease;
  

  
  @media screen and (max-width: 768px) {
    transform: rotate(0deg) !important;
  }
}

.flex-slide {
  flex: 1;
  cursor: pointer;
  transition: all 500ms ease;

  @media screen and (max-width: 768px) {
    overflow: auto;
    overflow-x: hidden;
  }
}

.flex-slide:hover {
  flex-grow: 3;
}

.flex-title-dark {
  @media screen and (min-width: 768px) {
    transform: rotate(90deg);
    top: 15%;
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
    

  }
}

.flex-title-light {
    @media screen and (min-width: 768px) {
      transform: rotate(90deg);
      top: 15%;
      animation: aboutFlexSlide 3s 1;
      animation-delay: 0s;
      
    }
  }
  

  .flex-title-han-solo {
    @media screen and (min-width: 768px) {
      transform: rotate(90deg);
      top: 15%;
      animation: aboutFlexSlide 3s 1;
      animation-delay: 0s;
      
    }
  }

.dark {
    min-width: 140px;
    /* height: 100vh; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./components/HomePage/ChooseSide/img/dark-side.jpg);
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
  
    @media screen and (min-width: 768px) {
      animation: aboutFlexSlide 3s 1;
      animation-delay: 0s;
    }
  }

.light {
    min-width: 140px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./components/HomePage/ChooseSide/img/light-side.jpg);
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */

  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
  }
}

.han-solo {
 min-width: 140px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./components/HomePage/ChooseSide/img/falcon.jpg);
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
  }
}
